langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
pypdf
faiss-cpu
huggingface_hub
sentence-transformers
nltk>=3.8.1
pandas
evaluate
gradio # For the UI
fpdf # For PDF export
xlsxwriter # For Excel export
